* { font-family:Verdana,alial; font-size:10px; }
img { border:0; }
html, body { margin:0; padding:0; }
table, td { margin:0; padding:0; }
table td { vertical-align:top; text-align:left; }
body, td, th, pre, code, select, option, input, textarea { font-family:verdana,arial,sans-serif; font-size:10px; }
body { margin:10px; }
#configcontainer { border:0px solid silver; height:400px; clear:both; padding:0px; margin-bottom:10px; white-space:nowrap; }
#pluginlist { clear: both; }
#tree { width:auto; overflow:visible; border:1px solid #AAAAAA; background-color:white; padding:10px; float:left; }
#content { overflow:visible; border:0px solid #AAAAAA; float:left; padding-left:10px; white-space:nowrap; min-width: 700px; }
#middlecontent {}
#statuschart, #speedometer, #nodedata { float:left; }
#speedometer { margin-left:20px; }
#text { margin-top:1px; }
#alog { font-size:9px !important; margin:5px; border:1px solid silver; }
#nodecontrol { clear:both; }
#nodeinfo { border: 1px solid #AAAAAA; margin-bottom:10px; padding:10px; }
#nodeinfo h1 { font-size:20px; }
#mmenu { border: 1px solid #AAAAAA; margin-bottom:10px; padding:10px; vertical-align:middle; text-align:right; background-image: url(../img/bnplogo.png); background-repeat:no-repeat; background-position:left center; }
#legal { clear:both; padding:10px; border: 1px solid #AAAAAA; margin-top:10px; text-align:center; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#nodedata li { list-style-image: url('../img/right-arrow.png'); }
a { text-decoration:none; color:black; }
#manuallist { width:100%; height:90%; }
#selecttimespan { height:122px; width:80px; background-color:#AAAAAA; opacity:0.6; filter:alpha(opacity=60); display:none; }
.custom_host .graph_container { border-top: 1px solid #AAAAAA; display:inline-block; clear:both; vertical-align:top; }
.bordered_img { border: 1px solid #888888; }
#topdiv table { border: 1px solid #888888; width:100%; }
.toprowalt:hover, .toprow:hover { background-color:#AAAAAA; }
.toprow { background-color:#EEEEEE; }
.toprowalt { background-color:#CCCCCC; }
.ui-autocomplete { max-height: 250px; overflow-y: auto; overflow-x: hidden; padding-right: 20px; }
* html .ui-autocomplete { height: 250px; }
