.ui-menu {
  z-index: 1000;
}
#mainMenu {
  width: 100%;
  margin: 0;
  padding: 0;
}
#headerLeft {
  float: left;
  margin: 0 auto;
}
#headerCenter {
  margin: 0 auto;
  padding: 0;
  float: left;
}
#headerRight {
  margin: 0 auto;
  padding: 0;
  float: right;
}

#mainMenu:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#headerLeft > .ui-menu {
  font-size: 12px;
  min-height: 24px;
}
#headerLeft > .ui-menu > .ui-menu-item  {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 2px 6px;
  width: auto;
}
#headerLeft > .ui-menu > .ui-menu-item a {
  padding: 3px;
}

#headerCenter > ul {
  float: right;
  margin: 0;
  font-size: 12px;
  min-height: 24px;
  padding: 2px 6px;
}
#headerCenter > ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 2px 6px;
  width: auto;
}

#headerRight > ul {
  float: right;
  margin: 0;
  font-size: 12px;
  min-height: 24px;
  padding: 2px ;
}
#headerRight > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 2px 6px;
  width: auto;
}
#clip_content_text {
  padding: 3px;
  line-height: 1.5;
  display: block;
  min-height: 0;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
}
